:root {
  --title-font-family: "Comfortaa", cursive;
  --text-font-family: "Open Sans", sans-serif;
  --primary-text-colour: rgb(0, 78, 194);
  --secondary-text-colour: rgb(0, 38, 95);
  --primary-button-colour: rgb(153, 0, 255);
  --correct-answer-colour: rgb(0, 172, 9);
  --incorrect-answer-colour: rgb(209, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  background: rgb(98, 0, 255);
  background: linear-gradient(
    132deg,
    rgba(98, 0, 255, 1) 0%,
    rgba(0, 116, 255, 1) 100%
  );
}

/* .loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid white;
  border-top-color: var(--primary-button-colour);
  animation: rotate 2s linear infinite;
  -webkit-animation: rotate 2s linear infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
} */

.quiz-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 250px;
  width: 80%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.65);
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(156, 156, 156, 0.3);
  position: relative;
}

.title {
  font-family: var(--title-font-family);
  align-self: center;
  color: var(--primary-text-colour);
  font-size: 1.5rem;
}

/* .quiz-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 300px;
  width: 100%;
} */

/* .final-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
} */

/* .final-score-text {
  font-family: var(--title-font-family);
  font-size: 30px;
  color: var(--secondary-text-colour);
  text-align: center;
}

.final-score-number {
  color: var(--primary-text-colour);
} */

/* .select-box-container {
  margin: 30px 0 0 10px;
  font-family: var(--text-font-family);
}

.select-box {
  margin: 0 0 20px 5px;
  font-size: 0.6rem;
}

.select-box-container label {
  color: var(--secondary-text-colour);
  font-weight: bold;
  font-size: 0.8rem;
} */

/* .sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
} */

/* .sliderLabel {
  color: var(--secondary-text-colour);
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  font-family: var(--text-font-family);
}

.slider {
  width: 200px;
} */

/* .start-btn,
.play-again-btn {
  font-family: var(--text-font-family);
  align-self: center;
  background-color: var(--primary-button-colour);
  color: white;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
} */

/* .btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--primary-button-colour);
  border: 1px solid var(--primary-button-colour);
} */

.quiz-question {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30px;
  padding: 10px 10px 5px 10px;
}

/* .score {
  font-family: var(--title-font-family);
  color: var(--primary-text-colour);
  font-size: 1rem;
  margin-right: 30px;
} */

/* .progress {
  font-family: var(--title-font-family);
  color: var(--primary-text-colour);
  margin-left: 30px;
  font-size: 1rem;
} */

/*Timer */
.timer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.timer-bar {
  height: 10px;
  width: 100px;
  border: 1px solid #0073ff;
}

.timer-bar-full {
  height: 100%;
  width: 100%;
  background-color: green;
}

.seconds {
  font-family: var(--title-font-family);
  color: var(--primary-text-colour);
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 1em;
}

/* Question */

.question {
  font-family: var(--text-font-family);
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 1rem;
  margin: 0 10px 10px 10px;
  text-align: center;
}

.question-number {
  font-family: var(--title-font-family);
  color: var(--primary-text-colour);
  font-size: 1rem;
}

/*Answers */

.answer-btn {
  font-family: var(--text-font-family);
  background-color: var(--primary-button-colour);
  border: none;
  margin: 10px;
  padding: 5px 50px;
  width: 200px;
  min-height: 40px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  outline: none;
  position: relative;
}

.answer-btn.right:hover,
.answer-btn.incorrect:hover {
  border-color: white;
}

.answer-btn.right {
  background-color: var(--correct-answer-colour);
  color: white;
}

.answer-btn.incorrect {
  background-color: var(--incorrect-answer-colour);
  color: white;
}

.answers {
  display: flex;
  flex-direction: column;
}

.score-increment {
  position: absolute;
  top: 5px;
  right: 5px;
}

.score-increment.hide {
  display: none;
}

@media (orientation: landscape) and (min-width: 550px) {
  .quiz-box {
    min-width: 60%;
  }

  .quiz-form {
    height: 250px;
  }

  .answers {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: flex-start;
    align-content: flex-start;
    min-height: 100px;
    margin-bottom: 20px;
  }
}

@media (orientation: landscape) and (min-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .quiz-box {
    min-height: 350px;
  }
}

@media (min-height: 500px) {
  .title {
    font-family: var(--title-font-family);
    align-self: center;
    color: var(--primary-text-colour);
    font-size: 2.5rem;
  }

  .timer-bar {
    height: 30px;
    width: 150px;
    border: 1px solid #0073ff;
  }

  .seconds {
    font-size: 1.5em;
  }

  .quiz-form {
    height: 400px;
  }

  .question {
    font-size: 1.5rem;
  }

  .question-number {
    font-size: 1.5rem;
  }

  .answers {
    align-content: center;
    min-height: 200px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .select-box-container {
    margin: 30px 0 0 20px;
  }

  .select-box {
    margin-left: 10px;
    font-size: 0.8rem;
  }

  .select-box-container label {
    margin-left: 10px;
    font-size: 1rem;
  }

  .slider {
    width: 400px;
  }

  .score {
    font-size: 1.4em;
  }

  .progress {
    font-size: 1.4em;
  }

  .question {
    font-size: 1.2rem;
  }

  .answer-btn {
    min-height: 50px;
    font-size: 1rem;
  }

  .answer-btn {
    width: 280px;
  }

  .timer {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .quiz-box {
    width: 70%;
  }
  .select-box {
    font-size: 1rem;
  }

  .select-box-container label {
    font-size: 1.2rem;
  }

  .answer-btn {
    width: 300px;
  }

  .start-btn,
  .play-again-btn {
    height: 40px;
    width: 120px;
    font-size: 1.2rem;
  }
}
